<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVXV5L1g2IJQEvp7TCEdQjQwRb4iYCgII</string>
	<key>GCM_SENDER_ID</key>
	<string>304133298950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dietplanner</string>
	<key>PROJECT_ID</key>
	<string>diet-planner-9jk2ym</string>
	<key>STORAGE_BUCKET</key>
	<string>diet-planner-9jk2ym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304133298950:ios:1ce2461083944a679e5c87</string>
</dict>
</plist>